<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adomob.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>0.1.0</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>E7418AB660B2BFCB31FE84C6F54A3A7FE5B1F05A</string>
				<key>dateExpires</key>
				<string>01/05/2024</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E7418AB660B2BFCB31FE84C6F54A3A7FE5B1F05A</string>
						<key>dateExpires</key>
						<string>01/05/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>KH287H8PJG</string>
						<key>name</key>
						<string>Malek Benfeghoul</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E7418AB660B2BFCB31FE84C6F54A3A7FE5B1F05A</string>
						<key>dateExpires</key>
						<string>01/05/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>KH287H8PJG</string>
						<key>name</key>
						<string>Malek Benfeghoul</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>KH287H8PJG.com.example.adomob</string>
				<key>com.apple.developer.team-identifier</key>
				<string>KH287H8PJG</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>f0d18a6a-40a2-4146-8800-44658a148ee4</string>
				<key>dateExpires</key>
				<string>09/05/2023</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.example.adomob</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>KH287H8PJG</string>
				<key>name</key>
				<string>Malek Benfeghoul</string>
			</dict>
			<key>versionNumber</key>
			<string>0.1.0</string>
		</dict>
	</array>
</dict>
</plist>
